<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>AgregarProducto</title>
        <link rel="stylesheet" href="../Views/css/agregarProducto.css">
    </head>

    <body>

        <header id="header">
            <h1>Agregar Productos</h1> 
            <img class="agregarProducto" src="../Img/icon/agregar.png" alt="agregarProducto">    
        </header>

        <main>

            <form action="" method="" class="form-container">

                <div>
                    <label for="agregar_imagen">Agregar Imagen</label>
                    <input type="text" id="agregar_imagen" name="agregar_imagen">
                </div>

                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre">
                </div>
                
                <div>
                    <label for="">Marca</label>
                    <input type="text" name="marca" id="marca">
                </div>

                <div>
                    <select name="lista" id="lista">
                        <option value="1">-Area-</option>
                        <option value="2">Pinturas</option>
                        <option value="3">Tornilleria</option>
                        <option value="4">Mecanica</option>
                        <option value="5">Electricidad</option>
                        <option value="6">Plomeria</option>
                        <option value="7">Herramientas</option>
                        <option value="8">Carpinteria</option>
                        <option value="8">Otros</option>
                    </select>
                </div>

                <div>
                    <label for="precio">Precio Q:</label>
                    <input type="number" name="precio" id="precio">
                </div>
                
                <div class="btnAgregar">
                    <button type="submit">
                        <a href="">
                            <img src="../Img/icon/agregar.png" width="45">
                            Agregar</button>
                        </a>
                </div>

                <div class="btnModificar">
                    <button>
                        <a href="">
                            <img src="../Img/icon/lapiz.png" width="45">
                            Modificar
                        </a>
                    </button>
                </div>

                <div class="btnEliminar">
                    <button type="reset">
                        <a href="">
                            <img src="../Img/icon/cancelar.png" width="45">
                            Eliminar
                        </a>
                    </button>
                </div>

            </form>

        </main>

        <footer class="footer">
            <p>&copy; 2023 Agregar Productos. Reservados todos los derechos.</p>
        </footer>

    </body>

</html>