<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../Img/icon/carritoCompras.png">
        <title>Carrito</title>
    </head>

    <body>
        <form>
            <h1>Productos a Comprar</h1>

            <div class="tabla">

            </div>

            <div class="btnAgregar">
                <button>
                    <a href="#">
                        <img src="../Img/icon/agregar.png" width="45">
                    </a>
                </button>
            </div>

            <div class="btnAceptar">
                <button>
                    <a href="#">
                        <img src="../Img/icon/aceptar.png" width="45">
                    </a>
                </button>
            </div>

            <div class="btnEliminar">
                <button type="reset">
                    <a href="#">
                        <img src="../Img/icon/cancelar.png" width="45"> 
                    </a>
                </button>
            </div>
        </form>
    </body>

</html>