<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../Img/icon/carritoCompras.png">
        <title>Carrito</title>
    </head>

    <body>
        <form>
            <h1>Productos a Comprar</h1>

            <div class="tabla">

                <table class="listaProducto" align="center" >
                    <tr class="encabezado">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                    </tr>

                    <!-- PARA LA PARTE DEL BACKEND
                    <tr class="descripcionProducto">
                        <td class="codigo"></td>
                        <td class="nombre"></td>
                        <td class="cantidad"></td>
                        <td class="preciio">Q </td>
                        <td class="Subtotal">Q </td>    
                    </tr>
                    -->
                    <tr>
                        <td class="codigo">01</td>
                        <td class="nombre">Martillo</td>
                        <td class="cantidad">1</td>
                        <td class="preciio">Q20.00</td>
                        <td class="Subtotal">Q 20.00</td>
                    </tr>

                    <tr>
                        <td class="codigo">02</td>
                        <td class="nombre">Candado</td>
                        <td class="cantidad">1</td>
                        <td class="preciio">Q20.00</td>
                        <td class="Subtotal">Q 20.00</td>
                    </tr>
                    

                    <tr>
                        <th>TOTAL </th>
                        <td class="total">Q 40.00</td>
                    </tr>
                    
                    
                </table>

            </div>

            <br>
            <br>
            <br>

            <div class="btnAgregar">
                <button>
                    <a href="#">
                        <img src="../Img/icon/agregar.png" width="45">
                    </a>
                </button>
            </div>

            <div class="btnAceptar">
                <button>
                    <a href="#">
                        <img src="../Img/icon/aceptar.png" width="45">
                    </a>
                </button>
            </div>

            <div class="btnEliminar">
                <button type="reset">
                    <a href="#">
                        <img src="../Img/icon/cancelar.png" width="45"> 
                    </a>
                </button>
            </div>
        </form>
    </body>

</html>