<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../Img/icon/grupo.png">
        <title>Clientes</title>
    </head>

    <body>
        <form action="clientes.php" method="get" align="center">

            <section>
                <div class="titulo">
                    <h1>FORMULARIO CLIENTES</h1>
                </div>

                <br>

                <div class="id">
                    <input type="text" name="nit" id="nit" placeholder="Nit">
                </div>

                <br>

                <div class="name">
                    <input type="text" name="nombres" id="nombres" placeholder="Nombres">
                </div>

                <br>

                <div class="lastName">
                    <input type="text" name="apellido" id="apellido" placeholder="Apellidos">
                </div>

                <br>

                <div class="numberPhone">
                    <input type="number" name="telefono" id="telefono" placeholder="Telefono">
                </div>

                <br>

                <div class="email">
                    <input type="email" name="correo" id="correo" placeholder="Correo Electronico">
                </div>

                <br>

                <div class="departamentoDeDestino">
                    <select class="departamento" id="departamento">
                        <option value="0">Departamento</option>
                        <option value="1">Alta Verapaz</option>
                        <option value="2">Baja Verapaz</option>
                        <option value="3">Chimaltenango</option>
                        <option value="4">Chiquimula</option>
                        <option value="5">El Progreso</option>
                        <option value="6">Escuintla</option>
                        <option value="7">Guatemala</option>
                        <option value="8">Huehuetenango</option>
                        <option value="9">Izabal</option>
                        <option value="10">Jalapa</option>
                        <option value="11">Jutiapa</option>
                        <option value="12">Petén</option>
                        <option value="13">Quetzaltenango</option>
                        <option value="14">Quiché</option>
                        <option value="15">Retalhuleu</option>
                        <option value="16">Sacatepéquez</option>
                        <option value="17">San Marcos</option>
                        <option value="18">Santa Rosa</option>
                        <option value="19">Sololá</option>
                        <option value="20">Suchitepéquez</option>
                        <option value="21">Totonicapán</option>
                        <option value="22">Zacapa</option>
                    </select>
                </div>

                <br>

                <div class="city">
                    <input type="text" name="cuidad" id="cuidad" placeholder="Cuidad o Aldea">
                </div>

                <br>

                <div class="addres">
                    <input type="text" name="direccion" id="direccion" placeholder="Direccion">
                </div>

                <br>

                <div class="btGuardar">
                    <button type="submit">
                        <img src="/Img/icon/guardar.png" width="40">
                    </button>
                </div>
            </section>
        </form>    
    </body>
</html>