<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Codigo</title>
    </head>

    <body>
        <form>
            <section>
                <h1>CODIGO DE VERIFICACION</h1> 
                <br>
                <br>
                    
                <ul class="codigoVerificacion">
                    <li>
                        <div class="numeroCodigo">
                            <input type="text" name="codigo" id="codigo" placeholder="-" size="1">
                        </div>
                    </li>

                    <li>
                        <div class="numeroCodigo">
                            <input type="text" name="codigo" id="codigo" placeholder="-" size="1">
                        </div>
                    </li>

                    <li>
                        <div class="numeroCodigo">
                            <input type="text" name="codigo" id="codigo" placeholder="-" size="1">
                        </div>
                    </li>

                    <li>
                        <div class="numeroCodigo">
                            <input type="text" name="codigo" id="codigo" placeholder="-" size="1">
                        </div>
                    </li>

                    <li>
                        <div class="numeroCodigo">
                            <input type="text" name="codigo" id="codigo" placeholder="-" size="1">
                        </div>
                    </li>

                    <li>
                        <div class="numeroCodigo">
                            <input type="text" name="codigo" id="codigo" placeholder="-" size="1">
                        </div>
                    </li>

                </ul>

                <br>
                <br>
                
                <div class="btnVerificar">
                    <a href="nuevaPassword.html">
                        <button>Confirmacion De Codigo</butto>
                    </a>
                </div>
            </section>
        </form>
    </body>
</html>