<!DOCTYPE html>
<html>
    <head>
        <title>Ingreso de productos - Ferreteria La Esquina</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../Views/css/IngresoProducto.css">
    </head>
    <body>
        <header>
            <h1>Ferretería La Esquina</h1>
        </header>

        <main>
            <section id="registration">
                <div class="registration-form">
                    <h2>Ingreso de Productos</h2>
                    <form method="post" action="#">
                        
                        <div class="form-control">
                            <label for="name">ID</label>
                            <input type="number" id="id_producto" name="id_producto" required>
                        </div>
                        <div class="form-control">
                            <label for="name">Codigo</label>
                            <input type="text" id="codigo_producto" name="codigo_producto" required>
                        </div>
                        <div class="form-control">
                            <label for="name">Descripcion</label>
                            <input type="text" id="descripcion" name="descripcion" required>
                        </div>
                        <div class="form-control">
                            <label for="email">Cantidad</label>
                            <input type="email" id="cantidad" name="cantidad" required>
                        </div>
                        <div class="form-control">
                            <label for="name">Precio Costo</label>
                            <input type="text" id="precio_costo" name="precio_costo" required>
                        </div>
                        <div class="form-control">
                            <label for="username">Precio Venta</label>
                            <input type="text" id="precio" name="precio_venta" required>
                            
                        </div>
                        <a href="#" class="btn">Regresar</a>
                        <a href="#" class="btn">Ingresar Producto</a>
                    </form>
                </div>
            </section>
            </section>
        </main>
        <footer>
            <p>&copy; 2023 Ferreteria la Esquina. Reservados todos los derechos.</p>
        </footer>
    </body>
</html>