<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../Img/icon/login.png">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <form action="login.php" method="post">

        <header class="d-barra">

            <nav class="barra" id="barra">

                <div class="barraIzquierda">
                    <ul class="izquierda">
                        <li>
                            <div class="icono-barra">
                                <a href="#">
                                    <img src="../Img/icon/bombilla.png" width="60">
                                </a>              
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="barraCentro"> 
                    <div class="referenciaFormularios">
                        <ul class="centro">

                            <li>
                                <a href="#">
                                    Carpinteria
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Pinturas
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Tornilleria
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Mecanica
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Electricidad
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Plomeria
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Herramientas
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Otros
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="barraIzquierda">
                    <ul class="derecha">
                        <li>
                            <div class="salirLogin">
                                <a href="../index.html">
                                    <img src="../Img/icon/home.png" width="45">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        
        <section class="formatoLogin">

            <div class="titulo">
                <h1>Login</h1>
            </div>

            <br>

            <div class="fotoUsuario">
                <img src="../Img/usuario.png" width="90">
            </div>

            <br>
            <br>

            <div class="datoUsuario">
                <input type="text" name="usuario" id="usuario" placeholder="Ingrese su Usuario">
            </div>

            <br>

            <div class="datoPassword">
                <input type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
            </div>

            <br>

            <div class="btValidacion">
                <button type="submit">Iniciar Seccion</button>
            </div>

            <br>
            
            <div class="helpUsuario">
                <a href="recuperarUsuario.html">
                    <p>Olvide mi Usuario</p>
                </a>
            </div>

            <div class="helpPassword">
                <a href="recuperarPassword.html">
                    <p>Olvide mi Contraseña</p>
                </a>
            </div>

        </section>

        <footer class="pieDePagina">
            <p>&copy; 2023 Ferreteria la Esquina. Reservados todos los derechos.</p>

            <a href="#">
                <img src="../Img/icon/instagram.png" width="50">
            </a>

            <a href="#">
                <img src="../Img/icon/whatsapp.png" width="50">
            </a>

            <a href="#">
                <img src="../Img/icon/facebook.png" width="50">
            </a>

            <a href="#">
                <img src="../Img/icon/ubicacion.png" width="50">
            </a>

            <a href="#">
                <img src="../Img/icon/horario.png" width="50">
            </a>

            <a href="#">
                <img src="../Img/icon/telefono.png" width="50">
            </a>
        </footer>

    </form>

</body>
</html>