<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../Img/icon/login.png">
    <title>Login</title>
</head>

<body>
    <form action="login.php" method="post">
        
        <section class="formatoLogin">

            <div class="titulo">
                <h1>Login</h1>
            </div>

            <br>

            <div class="fotoUsuario">
                <img src="../Img/usuario.png" width="40">
            </div>

            <br>

            <div class="datoUsuario">
                <input type="text" name="usuario" id="usuario" placeholder="Ingrese su Usuario">
            </div>

            <br>

            <div class="datoPassword">
                <input type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
            </div>

            <br>

            <div class="btValidacion">
                <button type="submit">Iniciar Seccion</button>
            </div>

            <br>
            
            <div class="helpUsuario">
                <a href="recuperarUsuario.html">
                    <p>Olvide mi Usuario</p>
                </a>
            </div>

            <div class="helpPassword">
                <a href="recuperarPassword.html">
                    <p>Olvide mi Contraseña</p>
                </a>
            </div>

        </section>
            
    </form>

</body>
</html>