<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Restabler Contraseña</title>


    </head>

    <body>
        <form>

            <h1>Recuperacion de Contraseña</h1>

            <div class="r1">
                <input type="password" placeholder="Ingrese Nueva Contraseña" size="35">
            </div>

            <br>
            <br>

            <div class="r2">
                <input type="password" placeholder="Ingrese De nuevo la Nueva Contraseña" size="35">
            </div>

            <br>
            <br>

            <div class="btnNewPassword">
                <a href="login.html">
                    <button type="button">Generar Nueva Contraseña</button>
                </a>
            </div>
        </form>  
    </body>
</html>