<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Restabler Contraseña</title>
        <link rel="icon" href="../Img/icon/desbloqueo.png">
        <link rel="stylesheet" href="css/nuevaPassword.css">


    </head>

    <body>
        <form>

            <header class="d-barra">

                <nav class="barra" id="barra">
    
                    <div class="barraIzquierda">
                        <ul class="izquierda">
                            <li>
                                <div class="icono-barra">
                                    <a href="#">
                                        <img src="../Img/icon/bombilla.png" width="60">
                                    </a>              
                                </div>
                            </li>
                        </ul>
                    </div>
    
                    <div class="barraCentro"> 
                        <div class="referenciaFormularios">
                            <ul class="centro">
    
                                <li>
                                    <a href="#">
                                        Carpinteria
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#">
                                        Pinturas
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#">
                                        Tornilleria
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#">
                                        Mecanica
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#">
                                        Electricidad
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#">
                                        Plomeria
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#">
                                        Herramientas
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#">
                                        Otros
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="barraIzquierda">
                        <ul class="derecha">
                            <li>
                                <div class="salirLogin">
                                    <a href="../index.html">
                                        <img src="../Img/icon/home.png" width="45">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
    
                </nav>
            </header>

            <section class="contenido">
                <h1>Recuperacion de Contraseña</h1>

                
                <div class="r1">
                    <input type="password" placeholder="Ingrese Nueva Contraseña" size="35">
                </div>

               
                <div class="r2">
                    <input type="password" placeholder="Ingrese De nuevo la Nueva Contraseña" size="35">
                </div>

               

                <div class="btnNewPassword">
                    <a href="login.html">
                        <button type="button">Generar Nueva Contraseña</button>
                    </a>
                </div>
            </section>

            <footer class="pieDePagina">
                <p>&copy; 2023 Ferreteria la Esquina. Reservados todos los derechos.</p>
    
                <a href="#">
                    <img src="../Img/icon/instagram.png" width="50">
                </a>
    
                <a href="#">
                    <img src="../Img/icon/whatsapp.png" width="50">
                </a>
    
                <a href="#">
                    <img src="../Img/icon/facebook.png" width="50">
                </a>
    
                <a href="#">
                    <img src="../Img/icon/ubicacion.png" width="50">
                </a>
    
                <a href="#">
                    <img src="../Img/icon/horario.png" width="50">
                </a>
    
                <a href="#">
                    <img src="../Img/icon/telefono.png" width="50">
                </a>
            </footer>
        </form>  
    </body>
</html>