<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Producto</title>
	<link rel="stylesheet" href="./css/productos.css">
	<link rel="stylesheet" href="./css/barras.css">
</head>
<body>
	
    <form method="" action="">
		<header class="d-barra">

			<nav class="barra" id="barra">
	
				<div class="barraIzquierda">
					<ul class="izquierda">
						<li>
							<div class="icono-barra">
								<a href="#">
									<img src="../Img/icon/bombilla.png" width="60">
								</a>              
							</div>
						</li>
					</ul>
				</div>
	
				<div class="barraCentro"> 
					<div class="referenciaFormularios">
						<ul class="centro">
	
							<li>
								<a href="#">
									Carpinteria
								</a>
							</li>
	
							<li>
								<a href="#">
									Pinturas
								</a>
							</li>
	
							<li>
								<a href="#">
									Tornilleria
								</a>
							</li>
	
							<li>
								<a href="#">
									Mecanica
								</a>
							</li>
	
							<li>
								<a href="#">
									Electricidad
								</a>
							</li>
	
							<li>
								<a href="#">
									Plomeria
								</a>
							</li>
	
							<li>
								<a href="#">
									Herramientas
								</a>
							</li>
	
							<li>
								<a href="#">
									Otros
								</a>
							</li>
						</ul>
					</div>
				</div>
	
				<div class="barraIzquierda">
					<ul class="derecha">
						<li>
							<div class="buscador">
								<input type="text" name="busqueda" id="busqueda" placeholder="Busqueda" size="25">
							</div>
						</li>
						<li>
							<div class="salirLogin">
								<a href="../index.html">
									<img src="../Img/icon/home.png" width="45">
								</a>
							</div>
						</li>
						
						<li>
							<div class="salirLogin">
								<a href="../index.html">
									<img src="../Img/icon/salir.png" width="42">
								</a>
							</div>
						</li>
					</ul>
				</div>
	
			</nav>
		</header>
	
		<main>

            <div class="producto">
            	<h1>PRODUCTO</h1>
					<div class="img">
						<img src="../Img/hammer.jpg" width="200">
					</div>

					<div class="descripcion">
					<P>Nombre</P>
					<p>Marca</p>
					<p>Descripcion</p>
					<p>Precio</p>
					</div>
					<br>
					<a href="../index.html" class="continue-shopping-btn">Seguir comprando</a>
					<a href="./carrito.html" class="pay-now-btn">Pagar ahora</a>
        	</div>
        </form>

		
	</main>
		<br>
		<br>
	<footer class="pieDePagina">
		<p>&copy; 2023 Ferreteria la Esquina. Reservados todos los derechos.</p>

		<a href="https://www.instagram.com/">
			<img src="../Img/icon/instagram.png" width="50">
		</a>

		<a href="https://web.whatsapp.com/">
			<img src="../Img/icon/whatsapp.png" width="50">
		</a>

		<a href="https://www.facebook.com/">
			<img src="../Img/icon/facebook.png" width="50">
		</a>

		<a href="#">
			<img src="../Img/icon/ubicacion.png" width="50">
		</a>

		<a href="#">
			<img src="../Img/icon/horario.png" width="50">
		</a>

		<a href="#">
			<img src="../Img/icon/telefono.png" width="50">
		</a>
	</footer>

	<script src="../script.js"></script>
</body>
</html>