<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Producto</title>
	<link rel="stylesheet" href="./css/productos.css">
</head>
<body>
	<header class="d-barra">

		<nav class="barra" id="barra">

			<div class="barraIzquierda">
				<ul class="izquierda">
					<li>
						<div class="icono-barra">
							<a href="#">
								<img src="../Img/icon/bombilla.png" width="60">
							</a>              
						</div>
					</li>
				</ul>
			</div>

			<div class="barraCentro"> 
				<div class="referenciaFormularios">
					<ul class="centro">

						<li>
							<a href="#">
								Carpinteria
							</a>
						</li>

						<li>
							<a href="#">
								Pinturas
							</a>
						</li>

						<li>
							<a href="#">
								Tornilleria
							</a>
						</li>

						<li>
							<a href="#">
								Mecanica
							</a>
						</li>

						<li>
							<a href="#">
								Electricidad
							</a>
						</li>

						<li>
							<a href="#">
								Plomeria
							</a>
						</li>

						<li>
							<a href="#">
								Herramientas
							</a>
						</li>

						<li>
							<a href="#">
								Otros
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="barraIzquierda">
				<ul class="derecha">
					<li>
						<div class="salirLogin">
							<a href="../index.html">
								<img src="../Img/icon/home.png" width="45">
							</a>
						</div>
					</li>
				</ul>
			</div>

		</nav>
	</header>

	<main>
        <form>
            <div class="producto">
            
				<h2>PRODUCTO</h2>
                <img src="#">
                <P>Nombre</P>
                <p>Descripcion</p>
                <p>Precio</p>

            </div>
            
        </form>

		<div class="buttons">
			<a href="#" class="pay-now-btn">Regresar</a>
			<a href="#" class="pay-now-btn">Pagar ahora</a>
			<a href="#" class="continue-shopping-btn">Seguir comprando</a>
		</div>
	</main>

	<footer>
		<p>&copy; 2023 Carrito de Compras. Reservados todos los derechos.</p>
	</footer>

	<script src="../script.js"></script>
</body>
</html>