<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Producto</title>
	<link rel="stylesheet" href="./css/productos.css">
</head>
<body>
	<header>
		<h1>Ferreteria La Esquina</h1>
	</header>

	<main>
        <form>
            <div class="producto">
            
				<h2>PRODUCTO</h2>
                <img src="#">
                <P>Nombre</P>
                <p>Descripcion</p>
                <p>Precio</p>

            </div>
            
        </form>

		<div class="buttons">
			<a href="#" class="pay-now-btn">Regresar</a>
			<a href="#" class="pay-now-btn">Pagar ahora</a>
			<a href="#" class="continue-shopping-btn">Seguir comprando</a>
		</div>
	</main>

	<footer>
		<p>&copy; 2023 Carrito de Compras. Reservados todos los derechos.</p>
	</footer>

	<script src="../script.js"></script>
</body>
</html>