<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="#">
        <title>Producto</title>
    </head>
    <body>
        <form>
            <div class="producto">
            
                <img src="#">
                <h1>PRODUCTO</h1>
                <P>nombre</P>
                <p>descripcion</p>
                <p>precio</p>
                <button type="button" id="btn_comprar" class="btn_comprar">Comprar</button>

            </div>
            
        </form>

        
    </body>
</html>