<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperacion</title>
        <link rel="stylesheet" href="css/recuperarPassword.css">
    </head>

    <body>
        <form>

            
        <header class="d-barra">

            <nav class="barra" id="barra">

                <div class="barraIzquierda">
                    <ul class="izquierda">
                        <li>
                            <div class="icono-barra">
                                <a href="#">
                                    <img src="../Img/icon/bombilla.png" width="60">
                                </a>              
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="barraCentro"> 
                    <div class="referenciaFormularios">
                        <ul class="centro">

                            <li>
                                <a href="#">
                                    Carpinteria
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Pinturas
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Tornilleria
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Mecanica
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Electricidad
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Plomeria
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Herramientas
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Otros
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="barraIzquierda">
                    <ul class="derecha">
                        <li>
                            <div class="salirLogin">
                                <a href="../index.html">
                                    <img src="../Img/icon/login.png" width="45">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>

            <section class="contenido">
            
                <div class="titulo">
                    <h1>Recuperacion de Contraseña</h1>
                </div>

                <div class="correo">
                    <input type="email" name="recuperacionEmail" id="recuperacionEmail" placeholder="Ingrese Correo Electronico" size="40">
                </div>


                <br>
                
                <div class="btnRecuperarPassword">
                    <a href="codigoVerificacionPassword.html">
                        <button type="button">
                            BUSCAR
                            <img src="../Img/icon/busqueda.png" width="25">
                        </button>
                    </a>              
                </div>
        
            </section>

            <footer class="encabezado">
                <ul class="redes">
                    <li>
                        <div class="iconoInstagram">
                            <a href="#">
                                <img src="../Img/icon/instagram.png" width="50">
                            </a>
                        </div>
                    </li>
    
                    <li>
                        <div class="iconoWhatsapp">
                            <a href="#">
                                <img src="../Img/icon/whatsapp.png" width="50">
                            </a>
                        </div>
                    </li>
    
                    <li>
                        <div class="iconoFacebook">
                            <a href="#">
                                <img src="../Img/icon/facebook.png" width="50">
                            </a>
                        </div>
                    </li>
    
                    <li>
                        <div class="iconoUbicacion">
                            <a href="#">
                                <img src="../Img/icon/ubicacion.png" width="50">
                            </a>
                        </div>
                    </li>
    
                    <li>
                        <div class="iconoHorario">
                            <a href="#">
                                <img src="../Img/icon/horario.png" width="50">
                            </a>
                        </div>
                    </li>
    
                    <li>
                        <div class="iconoTelefono">
                            <a href="#">
                                <img src="../Img/icon/telefono.png" width="50">
                            </a>
                        </div>
                    </li>
                </ul>
            </footer>
        </form>
    </body>
</html>