<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tipo de Compra</title>
        <link rel="icon" href="../Img/icon/carritoCompras.png">
    </head>

    <body>
        <form>
            <main class="contenido">
                <section class="confirmacionCompra">

                    <div class="btnTipoCompra">
                        <a href="#">
                            <button type="button">
                                <img src="../Img/icon/efectivo.png" width="100">
                                <h4>Efectivo</h4>
                            </button>
                        </a>
                    </div>

                    <div class="btnTipoCompra">
                        <a href="#">
                            <button type="button">
                                <img src="../Img/icon/tarjeta.png" width="100">
                                <h4>Tarjeta</h4>
                            </button>
                        </a>
                    </div>

                </section>
            </main>
        </form>     
    </body>
</html>