<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carro de la compra</title>
	<link rel="stylesheet" href="../Views/css/ventas.css">
</head>
<body>
	<header class="d-barra">

		<nav class="barra" id="barra">

			<div class="barraIzquierda">
				<ul class="izquierda">
					<li>
						<div class="icono-barra">
							<a href="#">
								<img src="../Img/icon/bombilla.png" width="60">
							</a>              
						</div>
					</li>
				</ul>
			</div>

			<div class="barraCentro"> 
				<div class="referenciaFormularios">
					<ul class="centro">

						<li>
							<a href="#">
								Carpinteria
							</a>
						</li>

						<li>
							<a href="#">
								Pinturas
							</a>
						</li>

						<li>
							<a href="#">
								Tornilleria
							</a>
						</li>

						<li>
							<a href="#">
								Mecanica
							</a>
						</li>

						<li>
							<a href="#">
								Electricidad
							</a>
						</li>

						<li>
							<a href="#">
								Plomeria
							</a>
						</li>

						<li>
							<a href="#">
								Herramientas
							</a>
						</li>

						<li>
							<a href="#">
								Otros
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="barraIzquierda">
				<ul class="derecha">
					<li>
						<div class="salirLogin">
							<a href="../index.html">
								<img src="../Img/icon/home.png" width="45">
							</a>
						</div>
					</li>
				</ul>
			</div>

		</nav>
	</header>

	<main>
		<h2>Ventas Realizadas</h2>
		<table>
			<thead>
				<tr>
					<th>codigo</th>
					<th>Cantidad</th>
					<th>Descripcion</th>
					<th>Precio Unitario</th>
					<th>Subtotal</th>
					<th>Total</th>
					<th>Cliente</th>
					<th>Fecha</th>
					<th>Hora</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>F001</td>
					<td>1</td>
					<td>Martillo</td>
					<td>Q45.00</td>
					<td>Q45.00</td>
					<td>Q45.00</td>
					<td>Bryan</td>
					<td>08/11/2021</td>
					<td>08:00 pm</td>
				</tr>
				
			</tbody>
			<tfoot>
			
			</tfoot>
		</table>

	</main>

		<footer class="pieDePagina">
			<p>&copy; 2023 Ferreteria la Esquina. Reservados todos los derechos.</p>

			<a href="https://www.instagram.com/">
				<img src="../Img/icon/instagram.png" width="50">
			</a>

			<a href="https://web.whatsapp.com/">
				<img src="../Img/icon/whatsapp.png" width="50">
			</a>

			<a href="https://www.facebook.com/">
				<img src="../Img/icon/facebook.png" width="50">
			</a>

			<a href="#">
				<img src="../Img/icon/ubicacion.png" width="50">
			</a>

			<a href="#">
				<img src="../Img/icon/horario.png" width="50">
			</a>

			<a href="#">
				<img src="../Img/icon/telefono.png" width="50">
			</a>
		</footer>

	<script src="../script.js"></script>
</body>
</html>