<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carro de la compra</title>
	<link rel="stylesheet" href="../Views/css/ventas.css">
</head>
<body>
	<header>
		<h1>Ferreteria La Esquina</h1>
	</header>

	<main>
		<h2>Ventas Realizadas</h2>
		<table>
			<thead>
				<tr>
					<th>Cantidad</th>
					<th>Descripcion</th>
					<th>Precio</th>
					<th>Cliente</th>
					<th>Fecha</th>
					<th>Hora</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Martillo</td>
					<td>Q45.00</td>
					<td>Bryan</td>
					<td>08/11/2021</td>
					<td>08:00 pm</td>
				</tr>
				
			</tbody>
			<tfoot>
			
			</tfoot>
		</table>

	</main>

	<footer>
		<p>&copy; 2023 Carrito de Compras. Reservados todos los derechos.</p>
	</footer>

	<script src="../script.js"></script>
</body>
</html>