<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="carpinteria.css" rel="stylesheet" type="text/css">
    <title>Carrito de compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <header id="header">
        <h1>Shopping Car</h1> 
        <img class="carrito" src="img/carrito-de-compras.png" alt="carrito">
    </header>
    
    <div id="contenedor" class="contenedor">
        <div>
            <img src="../carpinteria/img/barniz.png" alt="producto 1">
            <div class="informacion">
                <p>Producto 1</p>
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="../carpinteria/img/broca-paleta.jpg" alt="producto 2">
            <div class="informacion">
                <p>Producto 2</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="../carpinteria/img/formon.jpg" alt="producto 3">
            <div class="informacion">
                <p>Producto 3</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="../carpinteria/img/lijas.jpg" alt="producto 4">
            <div class="informacion">
                <p>Producto 4</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="../carpinteria/img/tarugos.jpg" alt="producto 5">
            <div class="informacion">
                <p>Producto 5</p>                   
                <p class="precio">Q.199.00</p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <form action="" method="" class="formulario">

                <div>
                    <label for="agregar_imagen">Agregar Imagen</label>
                    <input type="text" id="agregar_imagen" name="agregar_imagen">
                </div>

                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre">
                </div>
                
                <div>
                    <label for="">Marca</label>
                    <input type="text" name="marca" id="marca">
                </div>

                <div>
                    <select name="lista" id="lista">
                        <option value="1">-Area-</option>
                        <option value="2">Pinturas</option>
                        <option value="3">Tornilleria</option>
                        <option value="4">Mecanica</option>
                        <option value="5">Electricidad</option>
                        <option value="6">Plomeria</option>
                        <option value="7">Herramientas</option>
                        <option value="8">Carpinteria</option>
                        <option value="8">Otros</option>
                    </select>
                </div>

                <div>
                    <label for="precio">Precio Q:</label>
                    <input type="number" name="precio" id="precio">
                </div>
                
                <div class="btnAgregar">
                    <button type="submit">
                        <a href="">
                            <img src="../Img/icon/agregar.png" width="45">
                            Agregar</button>
                        </a>
                </div>

                <div class="btnModificar">
                    <button>
                        <a href="">
                            <img src="../Img/icon/lapiz.png" width="45">
                            Modificar
                        </a>
                    </button>
                </div>

                <div class="btnEliminar">
                    <button type="reset">
                        <a href="">
                            <img src="../Img/icon/cancelar.png" width="45">
                            Eliminar
                        </a>
                    </button>
                </div>

            </form>
            
        </div>
    </div>

	<footer>
		<p>&copy; 2023 productos carpinteria. Reservados todos los derechos.</p>
	</footer>

    <script src="app.js"></script>
</body>

</html>