body{
    background-color:#e3e4e5;
    font-family: Arial,sans-serif;
    color: black;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px); /* Ajusta la altura del contenido según el tamaño del encabezado y el pie de página */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.barra{
    display: flex;
    margin: -22px;
    padding: 0px;
    border: 0px;
}

.d-barra{
    background-color:#1b5583;
    margin: -1px;
    padding: -1px;
    border: -1px;
    display:flex;
}

.izquierda{
    display: inline-block;
}

.izquierda li{ 
    justify-content: left;
    display:inline-flex;
    margin-top: 12px;
}


.centro{
    display: flex;
    padding: 2px;
}

.centro li{
    justify-content: center;
    list-style-position: inside;
    display:inline-flex;
    margin-top: 15px;
    margin-left:15px;
}

.centro a{
    text-align: center;
    text-decoration: none;
    color: #e3e4e5;
    margin:12px;
    transition: transform 600ms;  
}

.centro a:hover{
    color: black;
    transform: scale(1.5);
}

.derecha{
    justify-content: right;
    display: inline-flex;
    padding:1px;
}

.derecha li{
    margin-top:12px;
    margin-left:15px;
}

.derecha img{
    transition: transform 400ms;   
}

.derecha img:hover{
    transform: scale(1.25);
}

#busqueda{
    margin-top: 15px;
    text-align: left;
}


.encabezado{
    background-color: #1b5583;
    display: flex;
    justify-content: center;
    text-align: center;
}

.encabezado ul{
    display:inline-flex;
    text-align: center;
}

.encabezado li{
    margin-right: 50px;
    margin-top: 40px;
    display: flex;
}

.pieDePagina {
	text-align: center;
	margin-top: 40px;
	font-size: 1.2em;
	color: #ffffff;
	background-color: #004c6d;
    
}

.pieDePagina img{
    margin-left: 45px;
    padding: 0px;
    transition: transform 350ms;  
}

.pieDePagina img:hover{
    transform: scale(1.25);
}
