* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #ffffff;
    padding-top: 100px;
    margin-bottom: 100px;
    color: black;
    align-items: left;
    justify-content: left;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: left;;
    margin-left: 10px;
}
header{
    background-color: #1b5583;
    display: flex;
    align-items: center;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.carrito {
    margin-right: 10px; /* Margen derecho para separar el icono del texto */
}
form{
    padding-top: 100px;
    margin-bottom: 100px;
}
table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    place-items: center;
    

}
th{
    background-color: #1b5583;
    color: aliceblue;
    border: 2px solid black ;
    padding-left: 20px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;

}
td{
    color: black;
    border: 2px solid black ;
    padding-left: 20px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;

}

.number input[type="number"]{
    background-color: white transparent;
    border: none;
    color: #000000;
    font-size: 25px;
    margin-bottom: 20px;
    padding-right: 2px;
    text-align: center;
}

.botones, a {
    color: black; 
    padding: 15px;
    margin-top: 20px;
    border: 0px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.botones button {
    color: black; 
    padding: 15px;
    margin-top: 20px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}


/* Estilo para el pie de página */
footer {
    background-color: #1b5583;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}