.formulario{
    background-color: #1b5583;
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    margin-left: 500px;
    margin-top: 10px;
    height: auto;
    width: auto;
}

.formulario input{
    text-align: center;
    width: 250px;
}

.formulario select{
    text-align: center;
    width: 250px;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn li{
    margin-right: 32px;
}

.btn button{
    width: 80px;
}

.btn button:hover{
    background-color:rgb(18, 250, 96);
}
