body{
    background-color:#e3e4e5;
    font-family: Arial,sans-serif;
    color: black;
}


ul{
    list-style: none;
}

.barra{
    display:inline-flex;
    margin: -18px;
    padding: 0px;
    border: 0px;
}

.d-barra{
    background-color:#1b5583;
    margin: -1px;
    padding: -1px;
    border: -1px;
    display:flex;
}

.izquierda{
    display: inline-block;
}

.izquierda li{
    justify-content: left;
    display:inline-flex;
    margin-top: 10px;
}

.centro{
    display:inline-block;
    padding:0px;
    margin-left:40px;
}

.centro li{
    justify-content: center;
    list-style-position: inside;
    display:inline-flex;
    margin-top: 10px;
}

.centro a{
    text-align: center;
    text-decoration: none;
    color: #e3e4e5;
    margin:20px;
    
}

.derecha{
    justify-content: right;
    display: inline-flex;
    margin-left: 190px;
}

.derecha li img{
    text-align: right;
    margin-top: 12px;
    justify-content: right;
    
}

.contenido{
    display:inline-block;
    margin-left: 450px;
    margin-top: 120px;
    height: 379px;
    text-align: center;
}

.contenido h1{
    color:rgb(100, 34, 207);
}

.contenido ul{
    display: inline-flex;
}

.contenido li{
    margin-right: 30px;
}

.contenido input{
    width: 28px;
    height: 28px;
    text-align: center;
}

.contenido input:hover{
    background-color: #1b5583;
    color: #e3e4e5;
}

.contenido button{
    margin-top: 20px;
    width: 150px;
    background-color: #4d82bc;
}

.contenido button:hover{
    background-color: #88b6db; 
}

.contenido a{
    text-decoration: none;
    color: black;
}

.encabezado{
    background-color: #1b5583;
    display: flex;
    margin: 0px;
    padding: 0px;
    
}

.redes{
    display: flex;
    padding: 0px;
    margin: 8px;
   
}

.redes li img{
    display:flex ;
    margin-left: 150px;
}