body{
    background-color:#e3e4e5;
    font-family: Arial,sans-serif;
    color: black;
}

ul{
    list-style: none;
}

.d-barra{
    background-color:#1b5583;
    padding:0px;
    margin: 0px;
}

.izquierda{
    justify-content:left;
    margin: 0;
    padding: 0;
    display: flex;
}

.centro{
    justify-content: center;
    margin: 0px;
    padding: 0px;
    display:flex;
}

.centro li{
    display:inline-flexbox;
    justify-content: center;
    margin:0px;
    padding:0px;
}

.centro li a{
    text-decoration: none;
    color: whitesmoke;
    padding:15px;
    border: none 5px;

}

.derecha{
    justify-content: right;
    margin: 0;
    padding: 0;
    display:flex;
}

h1{
    text-align: center;
}

.encabezado{
    background-color: #1b5583;
    display: flex;
    margin: 0px;
    padding: 0px;
    
}

.redes{
    display: flex;
    padding: 0px;
    margin: 8px;
   
}

.redes li img{
    display:flex ;
    margin-left: 150px;
}