
body {
	font-family: Arial, sans-serif;
    background-color: #e3e4e5;
    color:  #e3e4e5;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1b5583;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}



.barra{
    background-color:#1b5583;
    margin:  -70px;
    padding: 4px;
    border:  0x;
    display: flex;
}

.d-barra{
    background-color:#1b5583;
    margin:  3px;
    padding: 3px;
    border:  3px;
    display:flex;
}

.izquierda{
    display: inline-block;
}

.izquierda li{
    
    justify-content: left;
    display:inline-flex;
    margin-top: 2px;

}

.centro{
    display:inline-block;
    display: flex;
    padding: 20px;
}

.centro li{
    justify-content: center;
    list-style-position: inside;
    display:inline-flex;
    margin-top: -2px;
}

.centro a{
    text-align: center;
    text-decoration: none;
    color: #e3e4e5;
    margin:20px;
    
}

.derecha{
    justify-content: right;
    display: inline-flex;
}

.derecha li img{
    text-align: right;
    margin-top: 12px;
    justify-content: right;
    
}



header h1{
    color: #ffffff;
	font-size: 30px;
	margin: 0;
	padding: 0;
}

ul{
    list-style: none;
}

.encabezado{
    background-color: #1b5583;
    display: flex;
    justify-content: center;
    text-align: center;
}

.encabezado ul{
    display:inline-flex;
    text-align: center;
}

.encabezado li{
    margin-right: 50px;
    margin-top: 40px;
    display: flex;
}

/* Espacio entre el header y body*/
.main {
	padding-top: 40px;
}
/* Estilos del formulario de registro */
.registration-form {
    padding: 20px;
    border-radius: 4px;
    background-color: #1b5583;
    margin: 90px auto;
    max-width: 600px;
}

.registration-form h2 {
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.registration-form label {
    color: #ffffff;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}


.registration-form input[type="text"],
.registration-form input[type="number"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    background-color: white transparent;
    border: none;
    border-bottom: 2px solid #000000;
    color: #000000;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn li{
    margin-right: 32px;
}

.btn button{
    width: 80px;
}

.btn button:hover{
    background-color:rgb(18, 250, 96);
}

  /* Estilo para el pie de página */
footer {
	text-align: center;
	margin-top: 50px;
	font-size: 1.2em;
    background-color: #324959;
    color: #e3e4e5;
}
.pieDePagina img{
    margin-left: 45px;
}