/* Estilos del header*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1b5583;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

ul{
    list-style: none;
}

.barra{
    display: flex;
    margin: -22px;
    padding: 0px;
    border: 0px;
}

.d-barra{
    background-color:#1b5583;
    margin: -1px;
    padding: -1px;
    border: -1px;
    display:flex;
}

.izquierda{
    display: inline-block;
}

.izquierda li{
    
    justify-content: left;
    display:inline-flex;
    margin-top: 10px;
}

.centro{
    display: flex;
    padding: 2px;
}

.centro li{
    justify-content: center;
    list-style-position: inside;
    display:inline-flex;
    margin-top: 10px;
}

.centro a{
    text-align: center;
    text-decoration: none;
    color: #e3e4e5;
    margin:15px;
    
}

.derecha{
    justify-content: right;
    display: inline-flex;
}

.derecha li{
    margin:12px;
    
}


#busqueda{
    margin-top: 15px;
    text-align: left;
}


.encabezado{
    background-color: #1b5583;
    display: flex;
    margin: 0px;
    padding: 0px;
    
}

.redes{
    display: flex;
    padding: 0px;
    margin: 8px;
   
}

.redes li img{
    display:flex ;
    margin-left: 150px;
}

header h1 {
	font-size: 36px;
	margin: 0;
	padding: 0;
}

/* Espacio entre el header y body*/
main {
	padding-top: 80px;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color:   #e3e4e5;
    color: #000000;
    margin: 0;
    padding: 0;
}


h2 {
    text-align: left;
    color: #000000;
}

h1 {
    text-align: left;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

tfoot td {
    font-weight: bold;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons a{
    text-decoration: none;
}

.pay-now-btn, .continue-shopping-btn {
    padding: 10px 20px;
    background-color: #1b5583   ;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.pay-now-btn:hover, .continue-shopping-btn:hover {
    background-color: #1b5583;
    color: #fff;
    cursor: pointer;
}

/* Estilos futuristas */




.buttons {
    margin-top: 40px;
    color:#1b5583
}

.pay-now-btn, .continue-shopping-btn {
    border:#ffffff solid;
    background-color:#1b5583;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 30px;
}

.pay-now-btn:hover, .continue-shopping-btn:hover {
    background-color: #324959;
    color: #fff;
}

/* Estilo para el pie de página */
footer {
    background-color: #324959;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}