body{
    background-color:#e3e4e5;
    font-family: Arial,sans-serif;
    color: black;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px); /* Ajusta la altura del contenido según el tamaño del encabezado y el pie de página */
}

ul{
    list-style: none;
}

.barra{
    display: flex;
    margin: -22px;
    padding: 0px;
    border: 0px;
}

.d-barra{
    background-color:#1b5583;
    margin: -1px;
    padding: -1px;
    border: -1px;
    display:flex;
}

.izquierda{
    display: inline-block;
}

.izquierda li{
    
    justify-content: left;
    display:inline-flex;
    margin-top: 10px;
}

.centro{
    display: flex;
    padding: 2px;
}

.centro li{
    justify-content: center;
    list-style-position: inside;
    display:inline-flex;
    margin-top: 10px;
}

.centro a{
    text-align: center;
    text-decoration: none;
    color: #e3e4e5;
    margin:15px;
    
}

.derecha{
    justify-content: right;
    display: inline-flex;
}

.derecha li{
    margin:12px;
    
}


#busqueda{
    margin-top: 15px;
    text-align: left;
}


main{
    height: 342px;
}

.confirmacionCompra{
    display: block;
    text-align: center;
    margin-top: 80px;
}

.btnTipoCompra{
    display: inline-flex;
    padding: 6rem;
}

.btnTipoCompra button{
    width: 200px;
    height: 100px;
    border-radius:15px;
    border: 1px solid black;
    cursor: pointer;
    transition:30ms;
}

.btnTipoCompra button:hover{
    background-color: darkslategrey;
    border: 2px solid black;   
    color: #e3e4e5; 
}

.btnTipoCompra img{
    height: 50px;
    width: 50px;
    margin: 0px;
}

.btnTipoCompra h4{
    margin: 0px;
}


.encabezado{
    background-color: #1b5583;
    display: flex;
    justify-content: center;
    text-align: center;
}

.encabezado ul{
    display:inline-flex;
    text-align: center;
}

.encabezado li{
    margin-right: 50px;
    margin-top: 40px;
    display: flex;
}

.pieDePagina {
	text-align: center;
	margin-top: 50px;
	font-size: 1.2em;
	color: #ffffff;
	background-color: #004c6d;
}

.pieDePagina img{
    margin-left: 45px;
}

