/* Estilos del header*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1b5583;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}


/* Espacio entre el header y body*/
main {
	padding-top: 80px;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color:   #e3e4e5;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

tfoot td {
    font-weight: bold;
}



/* Estilos futuristas */

h2 {
    font-size: 24px;
    color: #000000;
}

table {
    border: none;
    color: #000000;
}

th, td {
    border-bottom: 1px solid #000000;
}

tfoot td {
    color: #fff;
    font-size: 18px;
}

.buttons {
    margin-top: 40px;
}

.btn {
    align-items : center;
    padding: 10px 20px;
    background-color: #030303   ;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    text-decoration-line: none;
    align-content: center;
}

.btn:hover{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

/* Estilos futuristas */
.buttons {
    margin-top: 40px;
    color:#1b5583
}

.btn {
    border:#ffffff solid;
    background-color:#1b5583;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 30px;
}

.btn:hover {
    background-color: #324959;
    color: #fff;
}

.pieDePagina {
	text-align: center;
	margin-top: 40px;
	font-size: 1.2em;
	color: #ffffff;
	background-color: #004c6d;
    
}

.pieDePagina img{
    margin-left: 45px;
    padding: 0px;
    transition: transform 350ms;  
}

.pieDePagina img:hover{
    transform: scale(1.25);
}

#content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px); /* Ajusta la altura del contenido según el tamaño del encabezado y el pie de página */
}