* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #ffffff;
    padding-top: 100px;
    margin-bottom: 100px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}
header{
    background-color:#1b5583;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.icono-container {
    margin-right: 10px;
    max-width: 70px; /* Ajusta el tamaño máximo del icono según tus necesidades */
    height: auto;
}

.icono {
    width: 100%;
    height: auto;
}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
    
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ajusta la altura según tus necesidades */
}
/* Estilo para el pie de página */
footer {
    background-color: #1b5583;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}